<%=javascript_include_tag "jquery.min" %>
<%=javascript_include_tag "springy" %>
<%=javascript_include_tag "springyui" %>

<table class="table">
  <thead>
    <tr>
      <th>Meaning</th>
      <th>Example</th>
      <th>Pinyin</th>
      <th>More examples</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td id="eng"></td>
      <td id="example"></td>
      <td id="pinyin"></td>
      <td><%= link_to "Show more", root_url, :id => "elink" %><td>
    </tr>
  </tbody>
</table>

<script>
$.getJSON("data.json", function(json) {
	jQuery(function(){
	  var graph = new Springy.Graph();
	  graph.loadGenericJSON(json);
	
	  var springy = jQuery('#springydemo').springy({
	    graph: graph,
        nodeSelected: function(node){
		  document.getElementById("eng").innerHTML = node.data.eng;
		  document.getElementById("example").innerHTML = node.data.example;
		  document.getElementById("pinyin").innerHTML = node.data.pinyin;
		  $("#elink").attr("href", node.data.url);
        }
	  });
	});

});
</script>


<canvas id="springydemo" width="940" height="780" />
