<p>
Built a tree of <%= GrammarPoint.all.size %> grammar points
</p>

<%=javascript_include_tag "jquery.min" %>
<%=javascript_include_tag "springy" %>
<%=javascript_include_tag "springyui" %>

<table>
  <thead>
    <tr>
      <th>Grammar Point</th>
      <th>Example</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td id="eng"></td>
      <td id="example"></td>
    </tr>
  </tbody>
</table>

<p id="eng"></p>
<p id="example"></p>

<script>
$.getJSON("data.json", function(json) {
	jQuery(function(){
	  var graph = new Springy.Graph();
	  graph.loadGenericJSON(json);
	
	  var springy = jQuery('#springydemo').springy({
	    graph: graph,
        nodeSelected: function(node){
		  document.getElementById("eng").innerHTML = node.data.eng;
		  document.getElementById("example").innerHTML = node.data.example;
        }
	  });
	});

});
</script>

<canvas id="springydemo" width="940" height="780" />
