<footer class="footer">
<ul class="nav pull-right">
	<%= link_to "About",   '#' %></li>
	<%= link_to "Contact", '#' %></li>
</ul>
<ul class="nav pull-left">
	<li>
	<small>
		Grammar points from <%= link_to "ChineseGrammarWiki", 'http://resources.allsetlearning.com/chinese/grammar/'%>, subject to <%= link_to " Creative Commons Attribution/NonCommercial-Share-Alike License",   'http://creativecommons.org/licenses/by-nc-sa/3.0/' %>
	</small>
	</li>
</ul>
</footer>
